
.parallax-container, .parallax-black {
    min-height: 100vh; /* Allow the container to grow with the content */
    overflow: hidden;
position: relative;
}

.parallax-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0) 40%), /* Circular gradient */
                linear-gradient(180deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 14, 0.95)); /* Slight blue tint */
    background-attachment: fixed; /* Enable parallax effect */
    background-size: cover; /* Ensure the background covers the entire container */
    z-index: -1;
  }


.parallax-black::before {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(245, 245, 245, 0) 40%), /* Black circular gradient */
    linear-gradient(180deg, rgba(245, 245, 245, 0.95), rgba(245, 245, 245, 0.95)); /* Solid white background */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed; /* Enable parallax effect */
    background-size: cover; /* Ensure the background covers the entire container */
    z-index: -1;
}

.index-spotlight-btn {
    padding:1rem 3rem;
    border-radius:40px;
    font-size: 1.2rem;
    background: linear-gradient(to right, rgb(180, 180, 253) 50%,black 50%);
    /* background: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f); */
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
    border:none;
    box-shadow: 1px 1px 12px rgba(200, 200, 200, 0.4);
    text-align: center;
    font-size: 25px;
    line-height: 30px; 
    color:white;
    transition: all .3s ease-out;
    display: block;
    /* border:2px solid black; */
    color: white;

    margin: 0 auto;
}

.index-spotlight-btn:focus {
    outline:none;
      border:none;
}
.index-spotlight-btn:hover {
    background-position: left bottom;
    cursor:pointer;
    transform: translateY(-3px);
    color:white;
}


.index-main-item:first-of-type {
    height: auto !important;
}

.index-main-container {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 50px;
    padding: 2rem;
    padding-top: 125px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0rem;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
.moving-border {
    /* width: 200px;
    height: 300px; */
    position: relative;
    background: #000000;
    padding: 4px;
    border-radius: 30px;
  }
  .moving-border::before,
  .moving-border::after {
    content: "";
    position: absolute;
    border-radius: 30px;

    inset: -0.2rem;
    z-index: -1;
    background: linear-gradient(var(--angle), 
      #000000, #9edbe7, rgb(12, 12, 12));
    animation: rotate 10s linear infinite;
  }
  .moving-border::after {
    filter: blur(5px);
  }
  @keyframes rotate {
    0%     { --angle: 0deg; }
    100%   { --angle: 360deg;
    }
  }

.center {
    text-align: center;
}

.grid-1 {
    /* animation: rotation 3s infinite; */

}

.index-main-item {
    /* border: 1px solid rgb(51, 51, 51);
    box-shadow: 1px 1px 14px rgba(210, 210, 210, 0.4);
    background: linear-gradient(30deg, rgb(26, 25, 26), black); */
    /* padding: 2rem; */
    border-radius: 30px;
    height: 300px;
    cursor: pointer;
    position: relative;
    z-index: 9999 !important;
}

.index-main-item {
    /* background: linear-gradient(var(--gradient-angle), rgb(255, 255, 255), rgb(0, 0, 0)); */
}

.moving-border > .grid-item {
    border: none;
}

@media (max-width: 1000px) {
    .index-main-item:first-of-type {
      grid-column: span 2;
    }

    .index-main-container {
        width: 90%;
    }

    .index-main-item:first-of-type {
        /* min-height: 100px;
        height: 200px; */
    }
    .index-main-item:nth-of-type(4) {
        grid-column: span 2;
    }

    .index-main-item:nth-of-type(5) {
        /* grid-column: span 1; */
        /* width: 70%; */
        margin: 0 auto;
    }
  }

  @media (max-width: 767px) {
    .index-main-item:nth-of-type(2), .index-main-item:nth-of-type(3), .index-main-item:nth-of-type(4) {
      grid-column: span 2;
    }
    .index-main-item {
        min-height: 200px;
        height: auto;

    }
    .index-main-item:first-of-type {
        min-height: 100px;
    }
    .grid-1 {
        height: 150px;
        border-radius: 20px;
        padding: 2rem 2rem 2rem 2rem !important;
    }

    .index-main-emoji {
        top: 20px !important;
    }

    .index-stack > .grid-item {
        /* padding: 0 !important; */
    }
    .index-main-item:nth-of-type(5) {
        width: 100%;
    } 

    .index-main-experience {
        display: block !important;
    }
  }

  @media (max-width: 550px) {
    .index-main-container {
        width: 95%;
        padding: 0rem;
        padding-top: 8rem;
        margin-bottom: 2rem;

    }

    .index-main-emoji {
        display: none;
    }

    .index-main-item:first-of-type {
        /* height: 200px; */

    }

    .position {
        font-size: 1.25rem;
    }

    .index-main-item:nth-of-type(3) {
        height: 300px;
    }

  }

.index-main-header {
    /* color: rgb(180, 180, 253); */
    color: rgb(250, 250, 250);
    text-align: left;
}

.index-main-item h2 {
    /* text-align: center; */
    letter-spacing: -0.1vw;
    text-transform: uppercase;
    letter-spacing: -0.05vw;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}

.stack-subheader {
    font-weight: 300;
    letter-spacing: -0.05vw;
}

.index-main-item span {
    font-weight: 300;
    letter-spacing: -0.05vw;
}

.index-main-item:first-of-type {
    /* grid-column: span 2; */

}

.index-main-item div {


}

.grid {
    gap:20px;
    /* padding: 1rem; */
}

.grid-1 {
    height: 150px;
    border-radius: 20px;
    padding: 2rem 2rem 3rem 2rem;
}

.grid-1 h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.grid div {
    border-radius: 20px;
    /* height: 100%; */
    text-align: left;
}

.item-grid-icons {
justify-content: right;
font-size: 1.5rem;
/* transition: 0.2s ease all; */
/* background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0)); */

}

.item-grid-icons a {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease all;
}

.item-grid-icons a:hover {
    background: white;
    color: black;

}

.grid-item {
    border: 1px solid rgb(30, 30, 30);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(50, 50, 50, 0.3) 0px 1px 3px -1px;
    background: linear-gradient(30deg, rgb(26, 25, 26), black);

}

.grid-item div {
    display: flex;
    align-items: center;
}

.grid-item:first-of-type div {
    /* width: 70%; */
}

.grid-item:nth-of-type(2) {
    width: 100%;
    overflow: hidden;

}
.grid-item:nth-of-type(2) div {
    width: 100%;
    justify-content: space-around;
    font-size: 2rem;
    height: 100%;
    border-radius: 0px;
}

.toggle-grid-item {
    border:none;
}

.linkedin {
    color:#0072b1;
    width: 50px;
    font-size: 3rem;

}

.resume-grid-item > div {
    padding-top: 0;
}

.shine {
    /* background: linear-gradient(to right, rgb(180, 180, 253) 50%,black 100%); */
    background-color: rgb(180, 180, 253);
    transition: 0.2s ease all;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.4);
    /* border-right: 1px solid rgb(50, 50, 50); */
    border: none;
}

.noshine {
    background-color: black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.grid-2 > div {
    display: flex;
    align-items: center;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 20px;
}

.mail-icon {
    font-size: 3rem;
}

.grid-4 a  {
    /* border: 1px solid white; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(50, 50, 50, 0.3) 0px 1px 3px -1px;
    background: linear-gradient(30deg, rgb(26, 25, 26), black);

    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.2s ease all;
}

.grid-4 a:nth-of-type(4){
    background-image: url('../public/maps.png');
    background-position: center;
}

.grid-4 a:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.4);

}

.grid-4 a:nth-of-type(4):hover {
    transform: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(50, 50, 50, 0.3) 0px 1px 3px -1px;
}

.grid-item {
    height: 100%;
    border-radius: 30px;
}
.index-experience > .grid-item, .index-stack > .grid-item {
    padding: 2rem;
}

.index-stack h2:first-of-type {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1.3rem;
}

.grid-item p {
    font-weight: 300;
    letter-spacing: -0.02vw;
    color: rgb(250, 250, 250);
}

.resume-grid {
    width: 70%;
    display: block !important;
    padding-top:0.5rem;
    padding-left: 2rem;
}

.item-grid-icons {
    justify-content: space-around;
    display: flex;
    width: 30%;
    padding-right: 2rem;
}


@media (max-width: 550px) {

    .item-grid-icons {
        padding-right: 1rem;
    }

    .grid-item-2 {
        display: block;
    }

    .grid-item:first-of-type div {
        /* display: block !important; */
    }

    .grid-item:first-of-type .item-grid-icons {
       display: flex !important;
    }
}

.index-main-experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-experience > .grid-item > h2 {
    margin-bottom: 2rem;
    font-weight: 300;
}
.index-main-emoji {
    position: absolute;
    font-size: 3rem;
    top: 50px;
}

.position {
    font-weight: 700;
}

.index-stack-container {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.index-stack-container > img {
    width: 50px;
}



.position-flexer {
    display: block !important;
    text-align: right;
    gap: 10px;
}

.position-flexer div:first-of-type {
    font-weight: 700;
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.position-flexer div:nth-of-type(2) {
    font-weight: 300;
    font-size: 0.9rem;
}

.experience-stack {
    padding-left: 0rem;
    padding-top: 1rem;
    list-style-type: none;
}

.experience-stack li b {
    color: rgb(240,240,240);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-style: italic;
}


.index-stack {
    grid-row: span 6;
    grid-column: span 2;
    height: auto;
}



.stack-grid {
    display: grid !important;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3,3fr);
}

.stack-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.stack-grid-item img {
    width: 20% !important;

}

/* @keyframes scroll {
	0% { transform: translateX(0); }
    50% { transform: translateX(calc(-600px))}
	100% { transform: translateX(calc(0))}
}

.slider {
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	
	.slide-track {
		animation: scroll 12s linear infinite;
		display: flex;
        width: 300px;
	}
	.slide {
		height: 50px;
		width: 50px;
        margin: 0rem 2rem;
	}
} */

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 9))}
}

.slider {
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: auto;
	
	.slide-track {
		animation: scroll 20s linear infinite;
		display: flex;
		width: calc(150px * 14);
	}
	.slide {
		/* height: 100px; */
		width: 150px;
	}
}

.slide img {
    width: 50px;
    /* height: 100px; */
}





/* Index Portfolio */ 

.index-portfolio-grid {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    gap: 90px;
    /* padding: 0rem 2rem; */
    width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
    height: auto;
}

.parallax-black .index-portfolio-grid-item, .parallax-black .index-portfolio-text {
    border: none;
}

.index-portfolio-grid-item {
    width: 95%;
    height: 300px;
    /* border: 1px solid rgb(50, 50, 50); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(50, 50, 50, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    height: 500px;
    position: relative;
    border: 1px solid rgb(30, 30, 30);
    /* border-top-right-radius: 0px; */
    z-index: 1;
    min-height: 600px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.2s ease all;
}

.index-portfolio-grid-item:hover {
    /* transform: scale(1.01); */
}

.index-portfolio-grid-item:hover > .index-portfolio-text {
    transform: translateY(0px);
}

.index-stack .grid-item > div {
    display:block;
}

.index-portfolio-text {
    position: absolute;
    right: 0%;
    bottom: -50px;
    background: linear-gradient(30deg, rgb(26, 25, 26), black);
    height: auto;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    padding: 1rem;
    padding-left: 2rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(50, 50, 50, 0.3) 0px 1px 3px -1px; */
    /* border: 1px solid rgb(30, 30, 30); */
    /* border-top: 1px solid white !important; */
    /* border-left: none; */
    z-index: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transform: translateY(270px);
    transition: 0.2s ease all;
    cursor: pointer;
    border-bottom-left-radius: 0px !important;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 12px -1px, rgba(255, 255, 255, 0.3) 0px 1px 8px -1px;

    /* border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; */
    /* border: 1px solid rgb(50, 50, 50) !important; */
}

.index-portfolio-grid-item:nth-of-type(even) {
    margin-left: auto !important;
    /* border-top-left-radius: 0px; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.index-portfolio-grid-item:nth-of-type(even) .index-portfolio-text {
    left: 0%;
    border-left: 1px solid rgb(50,50,50);
    /* border-right: none; */
    /* border-radius: 20px; */
    /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
}

@media (max-width: 1000px) {
    .index-portfolio-grid {
        width: 95%;

    }
}

@media (max-width: 767px) {
    .portfolio-featured-container {
        transform: translateY(0px);
        transition: 0.5s ease-in-out all;
        overflow: hidden;
        height:auto !important;
    }
}
@media (max-width: 550px) {
    .index-portfolio-text {
        position: absolute;
        right: 0%;
        bottom: -60%;
    }

    .portfolio-featured-container {
        transform: translateY(0px);
        transition: 0.5s ease-in-out all;
        overflow: hidden;
        height:auto;
    }

    .index-portfolio-grid-item:nth-of-type(even) .index-portfolio-text {
        left: 0%;
        bottom: -60%;
    }
    .index-portfolio-grid-item {
        width: 100%;
        border-top-right-radius: 20px;
    }

    .index-portfolio-grid {
        grid-template-columns: repeat(1,1fr);
        display: grid;
        gap: 50px;
        width: 90%;
        padding-bottom: 0rem;
  }

  .index-portfolio-grid-item {
    width: 95%;
    height: 400px;

    min-height: 400px;

}

  .index-portfolio-grid-item:nth-of-type(even) {
    margin-left: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
}
.index-portfolio-text h2 {
    text-transform: uppercase;
    letter-spacing: -0.15vw;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.index-portfolio-text h6 {
    font-weight: 300;
    font-size: 1.2rem;
    width: 90%;
    font-style: italic;
    margin-bottom: 2cqi;
}

.portfolio-icons {
    display: flex;
/* position: absolute;
bottom: 50px; */
/* justify-content: space-between; */
width: 30%;
bottom: 0;
justify-content: left;
}

.portfolio-icons img {
    width: 30px;
}

.portfolio-icons > div {
    transition: 0.2s ease all;
    width: 40px;
    height: 40px;
    padding: 0rem;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease all;
    background: linear-gradient(90deg, transparent, transparent);

}

.portfolio-icons > div:hover {
    cursor: pointer;
    background: white;
    color: black !important;
    fill: black;
}

.portfolio-icons > div:hover .portfolio-out {
    cursor: pointer;
    /* background: linear-gradient(90deg, rgb(180, 180, 253), rgb(142, 176, 255)); */
    color: black !important;
    fill: black !important;
}

.portfolio-out {
    /* width: 50px !important;
    height: 28px; */
    width: 30px;
    height: 30px;
    transition: 0.2s ease all;
}


.index-portfolio-grid-item{
    background-size: cover;
    background-repeat: no-repeat;
}

.p-grid-1  {
    background-image: url('../public/optimized/venum.webp') !important;
}

.p-grid-2  {
    background-image: url('../public/optimized/resumebuilder-min.webp');
}

.p-grid-3  {
    background-image: url('../public/optimized/juliet.png');
}

.p-grid-4 {
    background-image: url('/optimized/ranki-min.png');
}

.portfolio-logos {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
    width: 75%;
    justify-content: left;
    gap: 10px;
}

.index-portfolio {
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: auto;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(50, 50, 50, 0.3) 0px 1px 3px -1px;
    background: linear-gradient(30deg, rgb(26, 25, 26), black);
    width: 75%;
    margin: 0 auto;
    border: 1px solid rgb(30, 30, 30);
    padding: 1rem 0rem !important;
    margin-bottom: 2rem;
}

.index-portfolio h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-bottom: 0rem;
    text-transform: uppercase;
    letter-spacing: -0.15vw;
}

#portfolio {
    transition: 0.2s ease all;
}

.portfolio-featured {
    overflow: hidden;
    padding: 0.3rem;
}

.portfolio-featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    text-align: center;
    gap:40px;
}

.portfolio-featured-grid:nth-of-type(3) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.portfolio-featured-container h2 {
    margin:2rem 0rem;
}

.parallax-black .portfolio-featured-container h2 {
    color: black;
}

.portfolio-featured-grid  div {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: 0px 1px 8px rgba(187, 187, 187, 0.341);
    transition: 0.2s ease-in-out all;
}

.portfolio-featured-grid div {
    position: relative;
    overflow: hidden;  /* Ensures the content stays within the element */
    transition: all 0.3s ease;  /* Smooth transition */
  }
  
  .portfolio-featured-grid div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);  /* Transparent by default */
    backdrop-filter: blur(0);  /* No blur by default */
    transition: all 0.3s ease;  /* Smooth transition for hover */
    z-index: 1;
  }
  
  .portfolio-featured-grid div:hover::before {
    background: rgba(255, 255, 255, 0.2);  /* Semi-transparent background for glass effect */
    backdrop-filter: blur(5px);  /* Frosted glass effect */
    -webkit-backdrop-filter: blur(5px);    /* For Safari */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    z-index: 1;  /* Ensure it's on top of the background image */
  }
  
  .portfolio-featured-grid div:hover {
    color: #fff;  /* Text color change on hover */
    z-index: 2;  /* Ensure text is above the backdrop */
  }

.portfolio-featured-grid:nth-of-type(1) a:nth-of-type(1) div {
    background-image: url('/optimized/resumebuilder-min.webp');
  
}
.portfolio-featured-grid:nth-of-type(1) a:nth-of-type(2) div {
    background-image: url('/optimized/venum.webp');
}
.portfolio-featured-grid:nth-of-type(1) a:nth-of-type(3) div {
    background-image: url('/optimized/ranki-min.png');
}

.portfolio-featured-grid:nth-of-type(1) a:nth-of-type(4) div {
    background-image: url('/optimized/juliet.png');
}

.portfolio-featured-grid:nth-of-type(2) a:nth-of-type(4) div {
    background-image: url('/optimized/crypto.png');
}

.portfolio-featured-grid:nth-of-type(2) a:nth-of-type(1) div {
    background-image: url('/optimized/hapebeast.png');
  
}
.portfolio-featured-grid:nth-of-type(2) a:nth-of-type(3) div {
    background-image: url('/optimized/cleo-min.webp');
}
/* .portfolio-featured-grid:nth-of-type(2) div:nth-of-type(4) {
    background-image: url('/optimized/dangerfit-min.png');
} */

.portfolio-featured-grid:nth-of-type(2) a:nth-of-type(2) div {
    background-image: url('/optimized/phantom-website-min.webp');
}

.portfolio-featured-grid:nth-of-type(2) a:nth-of-type(5) div {
    background-image: url('/optimized/react-landing.webp');
}
.portfolio-featured-grid:nth-of-type(3) div {
    background-image: url('/github.png');
    background-color: black;
    background-size: 20%;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    align-items:end;
    justify-content: center;
    width: 300px;
    height: 250px;
}

.portfolio-featured-grid:nth-of-type(3) div h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5px;
}

.portfolio-featured-button {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: black;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem 3rem;
    font-size: 1.25rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease all;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999 !important;
    position: relative;
}

.portfolio-featured-button:hover {
    background-color: blue;
    border: 2px solid blue;
}

.portfolio-featured-container-sm {
    transform: translateY(-1600px);
    overflow: hidden;
    transition: 0.5s ease-in-out all;
    min-height: 100px;
    height: 100px;
    opacity: 0;

}

.portfolio-featured-container {
    transform: translateY(0px);
    transition: 0.5s ease-in-out all;
    /* overflow: hidden; */
    height: 3500px;
}
@media (min-width: 1300px) {

.portfolio-featured-container {
    transform: translateY(0px);
    transition: 0.5s ease-in-out all;
    /* overflow: hidden; */
    height: 2500px;
}
}

@media (max-width: 500px) {

.portfolio-featured-container {
    transform: translateY(0px);
    transition: 0.5s ease-in-out all;
    /* overflow: hidden; */
    height: 7000px;
}
}
/* Side */

.side ul li a {
    text-transform: uppercase;
    font-weight: 700;
}




/* HEstmap */

.heatmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-empty {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #c6e48b;
}

.color-scale-2 {
  fill: #7bc96f;
}

.color-scale-3 {
  fill: #239a3b;
}

.color-scale-4 {
  fill: #196127;
}
